\documentclass[letterpaper,10.8pt]{article}




%%%%%%  CV STARTS HERE  %%%%%%%%%%%%%%%%%%%%%%%%%%%%

\begin{document}
\textbf{{\LARGE \VAR{richtext_to_latex(personal_info.name)}}}


% -------------------------------------------
\end{document}